:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #777777;
    --color-yellow: #C9A26D;
}

body {
    font-family: 'Noto Sans SC', 'PingFang SC', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  }

  .text-black  { color: var(--color-black); }
  .text-white  { color: var(--color-white); }
  .text-gray   { color: var(--color-gray); }
  .text-yellow { color: var(--color-yellow); }
  .bg-black    { background: var(--color-black); }
  .bg-white    { background: var(--color-white); }
  .bg-gray     { background: var(--color-gray); }
  .bg-yellow   { background: var(--color-yellow); }